.about_container {
  margin-top: 2rem;
  text-align: center;
}
.about_container > h2 {
  font-size: 2rem;
}
.about_container > p {
  padding: 2rem 5rem;
  font-size: 1rem;
}
.title_border {
  position: relative;
  bottom: 10px;
}
.large-border {
  background: var(--sec-color);
  width: 70px;
  height: 4px;
  display: inline-block;
}

.small-border {
  width: 20px;
  height: 4px;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .about_container {
    text-align: justify;
  }
  .about_container > p {
    padding: 1rem 0rem;
    line-height: 1.5;
  }
}
